<?xml version="1.0" ?>
<model>
  <name>magnetic_capsule</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>TonNom</name>
    <email>ton.email@example.com</email>
  </author>
  <description>
    Capsule magnétique simple pour simulation.
  </description>
</model>
